USE [master]
GO
/****** Object:  Database [QLTV_ThucTap]    Script Date: 5/2/2018 4:28:01 PM ******/
CREATE DATABASE [QLTV_ThucTap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTV_ThucTap', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLTV_ThucTap.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTV_ThucTap_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLTV_ThucTap_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV_ThucTap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV_ThucTap]
GO
/****** Object:  Table [dbo].[CT_PHIEUMUON]    Script Date: 5/2/2018 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUMUON](
	[maSV] [int] NULL,
	[maPhieu] [int] NOT NULL,
	[maSach] [int] NULL,
	[ngayTra] [datetime] NULL,
	[tinhTrang] [nvarchar](50) NULL,
	[ngayMuon] [datetime] NULL,
	[soLuong] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CT_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHA_XUAT_BAN]    Script Date: 5/2/2018 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_XUAT_BAN](
	[maNXB] [int] NOT NULL,
	[tenNXB] [nvarchar](50) NULL,
	[diachiNXB] [nvarchar](100) NULL,
	[dienthoaiNXB] [char](11) NULL,
	[websiteNXB] [char](100) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHA_XUAT_BAN] PRIMARY KEY CLUSTERED 
(
	[maNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 5/2/2018 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[maNV] [int] NOT NULL,
	[tenNV] [nvarchar](50) NULL,
	[gioiTinhNV] [char](10) NULL,
	[ngaySinhNV] [date] NULL,
	[diaChiNV] [nvarchar](100) NULL,
	[ngayVaoLam] [date] NULL,
	[dienThoaiNV] [varchar](50) NULL,
	[matKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_MUON]    Script Date: 5/2/2018 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_MUON](
	[maPhieu] [int] NOT NULL,
	[maSV] [int] NULL,
	[maNV] [int] NULL,
 CONSTRAINT [PK_PHIEU_MUON] PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 5/2/2018 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[maSach] [int] NOT NULL,
	[tenSach] [nvarchar](50) NULL,
	[gia] [float] NULL,
	[soLuong] [int] NULL,
	[maNXB] [int] NULL,
	[maTL] [int] NULL,
	[soLuongTon] [int] NULL,
	[maTG] [int] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[maSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINH_VIEN]    Script Date: 5/2/2018 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINH_VIEN](
	[maSV] [int] NOT NULL,
	[hotenSV] [nvarchar](50) NULL,
	[gioiTinhSV] [char](10) NULL,
	[ngaysinhSV] [date] NULL,
	[lopSV] [char](20) NULL,
	[ngayLamThe] [date] NULL,
	[ngayHetHan] [date] NULL,
 CONSTRAINT [PK_SINH_VIEN] PRIMARY KEY CLUSTERED 
(
	[maSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAC_GIA1]    Script Date: 5/2/2018 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAC_GIA1](
	[maTG] [int] NOT NULL,
	[tenTG] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAC_GIA1] PRIMARY KEY CLUSTERED 
(
	[maTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THE_LOAI]    Script Date: 5/2/2018 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE_LOAI](
	[maTL] [int] NOT NULL,
	[tenTL] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_THE_LOAI] PRIMARY KEY CLUSTERED 
(
	[maTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRA_SACH]    Script Date: 5/2/2018 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_SACH](
	[maPhieu] [int] NOT NULL,
	[maSach] [int] NULL,
	[maNV] [int] NULL,
	[ngayTra] [date] NULL,
	[tenSach] [nvarchar](50) NULL,
	[tinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRA_SACH_1] PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
